#walrus-showing {
  display: none;
}

#bucketChronicles {
  display: none;
}

.clickable, .otherClickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover, .otherClickable:hover {
  text-decoration: underline;
}

.night-mode {
  background-color: black;
  color: orange;
}

.day-mode {
  background-color: white;
  color: black;
}

.paragraphStylez {
  border: 1px dashed;
  background-color: red;
}
